.body {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.mAddBtn {
  margin-top: 5px;
}
.modalBody {
  display: flex;
  flex-direction: column;
}
.inputUrl,
.inputTitle,
.inputNote {
  margin-top: 10px;
}
.inputNote {
  height: 130px;
}
.inputUrl,
.inputTitle {
  height: 40px;
}
.formcontrol {
  width: 100%;
}
.cHolder {
  display: flex;
}
.addButton {
  width: 180px;
  margin-top: 10px;
  background-color: #ff1919 !important;
  box-shadow: 2px 3px 5px -2px rgba(0, 0, 0, 0.68);
}
.errInt {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  color: grey;
}
.txtadd {
  color: red;
  font-weight: 700;
}
@media only screen and (max-width: 600px) {
  .cHolder {
    flex-direction: column;
  }
}
